Package: com.opa334.whoami.choicymore
Name: Choicy More
Depends: mobilesubstrate, applist
Conflicts: com.opa334.choicy
Version: 1.2.1
Architecture: iphoneos-arm
Description: 增加读取NanoLaunchDaemons守护进程功能，另外修改为不论 守护进程是否禁用 都会读取显示。因为有的守护进程即使是禁用状态也会启动。Advanced Tweak Configuration!
Maintainer: opa334 <opa334@protonmail.com>, whoami
Author: opa334 <opa334@protonmail.com>, whoami
Section: Tweaks
